@import '../_variables.sass'

.wp-block-childress-services
    background-color: $color-light-grey
    padding: 30px
    position: relative

.wp-block-childress-service
    .service
        &__title,
        &__content
            width: 50%

        &__content
            position: absolute
            right: 0
            top: 30px
