@import '../_variables.sass'

.wp-block-childress-tabs
    padding: 60px 0

    .tab
        &__inner
            display: flex

        &__text
            flex: 2
            padding-right: 60px

        &__image
            flex: 1
