///////////////////////////////////////////////////////////////////////////////
// 576                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 576px)
    .container
        max-width: 540px

        &--fluid
            max-width: 100%

    .footer
        &__bottom
            flex-direction: row
            height: 75px
            padding: 0 30px
            text-align: left

        &__logo
            height: 100%

        &__social-icon
            +font-size(16)
            height: 25px
            margin-left: 15px
            width: 25px


///////////////////////////////////////////////////////////////////////////////
// 768                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px)
    .header
        height: 75px

    .container
        max-width: 720px

        &--fluid
            max-width: 100%

        &--thin
            max-width: 576px

    .footer
        &__address-boxes
            flex-direction: row

        &__address-box
            padding: 75px 100px


///////////////////////////////////////////////////////////////////////////////
// 992                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 992px)
    .header
        height: 100px

    .container
        max-width: 960px

        &--fluid
            max-width: 100%

        &--thin
            max-width: 793px


///////////////////////////////////////////////////////////////////////////////
// 1200                                                                       //
///////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1200px)
    .container
        max-width: 1140px

        &--fluid
            max-width: 100%

        &--thin
            max-width: 960px
